/* @override http://127.0.0.1:51411/css/cookbook.css */

img {
  border: 1pt solid silver;
}

code {
	font-size: small;
}

h2 {
	font-size: 1.5em;
	margin-bottom: 0.2em;
}

p {
	text-align: justify;
	width: auto;
}

pre {	
	padding: 0.25em;
	border: 1pt solid silver;
}

strong {
	font-weight: normal;
	font-style: italic;
}

ol.toc  {
	list-style-type: upper-latin;
}

ol.toc li ol.toc  {
	list-style-type: decimal;
}

p + ul { 
	margin-top: -1.5em;
	/*margin-bottom: 0;*/
}

@media screen and (min-width: 1200px) {

	.container { 
		width: 1000px;
	}

	.prepend-1, .span-16, .append-1 {
		width: 920px; /* 1000 - 40 - 40*/ 
	}

	p {
		width: auto;
	}

}