/* @override http://127.0.0.1:51411/css/cookbook.css */

img {
  border: 1pt solid silver;
}

code {
	font-size: small;
}

pre {	
	padding: 0.25em;
	border: 1pt solid silver;
}

strong {
	font-weight: normal;
	font-style: italic;
}

ol.toc  {
	list-style-type: upper-latin;
}

ol.toc li ol.toc  {
	list-style-type: decimal;
}

p + ul { 
	margin-top: -1.5em;
	/*margin-bottom: 0;*/
}